
<div>
<table class="table-auto text-left">
    <thead class="text-xs uppercase whitespace-nowrap">
        <tr>
            <th scope="col" class="px-2">
                Country:
            </th>
                <td>
                    {{ countryId }}
                </td>
        </tr>
        <tr>
            <th scope="col" class="px-2">
                Capital:
            </th>
                <td>
                    {{ countryCapital }}
                </td>
        </tr>
        <tr>
            <th scope="col" class="px-2">
                Region:
            </th>
                <td>
                    {{ countryRegion }}
                </td>
        </tr>
        <tr>
            <th scope="col" class="px-2">
                Income:
            </th>
                <td>
                    {{ countryIncomeLevel }}
                </td>
        </tr>
        <tr>
            <th scope="col" class="px-2">
                Latitude:
            </th>
                <td>
                    {{ countryLatitude }}
                </td>
        </tr>
        <tr>
            <th scope="col" class="px-2">
                Longitude:
            </th>
                <td>
                    {{ countryLongitude }}
                </td>
        </tr> 
    </thead>   
</table>
</div>